@import './common';

.timer {
    display: flex;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.field > .value {
    font-size: 60px;
}

.field > .label {
    font-size: 20px;
}